.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

form {
  width: 200px;
  margin: 0 auto;
  padding-top: 20px;

}

input[type='text'] {
  margin-bottom: 20px;
}

.required {
  border: 1px solid #39c;
}

ul {
  list-style: none;
  padding: 0;
}

.errors {
  color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
